button{
    height: 20%;
    width: 20%;
    background-color: antiquewhite;
    border-radius: 500px;
    float: right;
    margin: 3%;
}

#clic{
    border: 2px solid rebeccapurple;
}#a1{
    border: 2px solid brown;
}#a2{
    border: 2px solid red;
}#a3{
    border: 2px solid orange;
}